<header>
    <div class="logo">
    <img src="./images/logo redesign 2.png" alt="angelfish logo text"/>
    <h1>angelfish</h1>
    </div>
    
    <nav>
    <ul>
        {{#if loggedIn}}
        <li>
        <a href="/account">My Account</a>
        </li>
        <li>
        <button id="logout" class="btn-no-style">Log Out</button>
        </li>
        {{else}}
        <li>
        <a href="/login"> Log In</a>
        </li>
        {{/if}}
    </ul>
    </nav>
</header>