<html lang="en>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>angelfish - Ocean Conservation</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="shortcut icon" type="link" href="/public/images/logo-img.png" />
  </head>

  <body>
    <main>
      {{{body}}}
    </main>

    <!-- footer-->
    <footer>
      <div>
        <a href="./privacy-policy.html">Read Our Privacy Policy</a>
        <br />
        &copy; 2021 angelfish, Inc.
      </div>
    </footer>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>