<!DOCTYPE html>
<html lang="en>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>angelfish - Ocean Conservation</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>

  <body>
    <!-- navigation -->
    <header>
      <div class="logo">
        <img src="./images/logo redesign 2.png" alt="angelfish logo text"/>
        <h1>angelfish</h1>
      </div>
      
      <nav>
        <ul>
          <li>
            <a href="#our-mission">Our Mission</a>
          </li>
					<li>
            <a href="#how-to-help"> How to Help</a>
          </li>
          <li>
            <a href="#where-to-look">Where to Look</a>
          </li>
          <li>
            <a href="/login"> Log In</a>
          </li>
        </ul>
      </nav>
    </header>
<main>
  {{{ body }}}
</main>
    
    <!-- footer-->
    <footer>
      <h2>❤️ Made with love by angelfish.</h2>
      <div>
        <a href="./privacy-policy.html">Read Our Privacy Policy</a>
        <br />
        &copy; 2021 angelfish, Inc.
      </div>
    </footer>
  </body>
</html>