<section>
    <h2>Welcome to your Angelfish Account</h2>
    <h3>Your Subscriptions</h3>
    <ol>
        {{#each subscriptionsArray as |subscription|}}
        <li>
            {{subscription}}
        </li>
        {{/each}}
    </ol>
    <a href="/account/edit/">Manage Subscriptions</a>
</section>