  {{> other-header}}


<section>
    <h2>Welcome to your Angelfish Account</h2>
    <h3>Your Subscriptions</h3>
    <ol>
        {{#each subscriptionsArray as |subscription|}}
        <li>
            {{subscription}}
        </li>
        {{/each}}
    </ol>
    <button id="modalBtn">Manage Subscriptions</button>
    <!-- The Modal -->
    <div id="subModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>
</section>

<script src="/javascript/edit-subscriptions.js"></script>