  {{> homepage-header}}
  
  <!-- MAIN HERO -->
    <section class="hero">
      <div class="video-container">
        <video autoplay loop muted>
            <source src="./images/ocean_background_1.mp4" type="video/mp4">
        </video>
      </div>

      <div class="hero-cta">
        <h2>Get the latest news on our conservation efforts.</h2>
        <p></p>
      </div>
    </section>

    <!-- OUR MISSION SECTION -->
    <section id="our-mission" class="intro">
      <div class="flex-row">
        <h2 class="section-title primary-border">Our Mission</h2>
      </div>
      <div class="flex-row">
      <p>angelfish is working with you to protect the ocean from today's greatest global challenges. Together, we create science-based solutions for a healthy ocean and the wildlife and communities that depend on it.</p>
      </div>
    </section>

    <!-- HOW TO HELP SECTION -->
    <section id="how-to-help" class="steps">
      <div class="flex-row">
        <h2 class="section-title secondary-border">How to Help</h2>
      </div>
      <div class="step">
        <h3>Step 1.</h3>
        <div class="step-info">
          <div class="step-img">
						<img src="images/newsletter icon.png" alt="newsletter icon" />         
					</div>
          <div class="step-text">
            <h4>Subscribe to our newsletter above.</h4>
            <p>You'll get the latest news about our initiatives to help preserve and monitor our oceans and reefs. We’ll update you on recent dives, current events, and new information about Reef Check programs. </p>
          </div>
        </div>
      </div>
      <div class="step">
        <h3>Step 2.</h3>
        <div class="step-info">
          <div class="step-img">
            <img src="./images/coral icon.png" alt="pink coral icon" />
          </div>
          <div class="step-text">
            <h4>Find what best suites your interests.</h4>
            <p>What are you most passionate about? Coral reefs? Aquatic life? Beach or ocean clean up? See our recommendations below to help get involved. Land based? Donate today and see how you've made an impact!</p>
          </div>
        </div>
      </div>
      <div class="step">
        <h3>Step 3.</h3>
        <div class="step-info">
          <div class="step-img">
            <img src="./images/clean up icon.png" alt="clean up trash icon" />
          </div>
          <div class="step-text">
            <h4>Get Involved.</h4>
            <p>
              Do you live in a coastal region? Checkout out the information in the newsletters to connect with a local conservation or clean up efforts. 
            </p>
          </div>
        </div>
      </div>
      <div class="step">
        <h3>Step 4.</h3>
        <div class="step-info">
          <div class="step-img">
            <img src="./images/crab icon.png" alt="crab icon" />
          </div>
          <div class="step-text">
            <h4>Live sustainably</h4>
            <p>See how you can adjust your lifestyle to positively impact our oceans! Visit
							<a href="https://usa.oceana.org/take-action/10-things-you-can-do-save-oceans"> here</a> for more information.
						</p>
          </div>
        </div>
      </div>
    </section>

    <!-- WHERE TO LOOK SECTIONS-->
    <section id="where-to-look">
      <h2 class="section-title primary-border>">Where to Look</h2>
      <div class="resources">
        <article class="resource">
          <img
            src="./images/coral reef image.webp"
            alt="Coral reef image with two angelfish"/>
          <div class="resource-card">
            <h3 class="card-name">
              <a href= "https://www.coralrestoration.org/">Coral Reef Conservation and Restoration</a>
            </h3>
          </div>
        </article>

        <article class="resource">
          <img
            src="./images/turtle img.jpg"
            alt="Sea turtle swimming along the ocean floor"/>
          <div class="resource-card">
            <h3 class="card-name">
              <a href= "https://www.marinebio.org/conservation/">Marine Life Conservation</a></h3>
          </div>
        </article>

        <article class="resource">
          <img
            src="./images/clean up img.jpg"
            alt="People cleaning up the trash on a beach "/>
          <div class="resource-card">
            <h3 class="card-name">
              <a href="https://theoceancleanup.com/">Clean Up Efforts</a></h3>
          </div>
        </article>
        <article class="resource">
          <img
            src="./images/Child_Seastar.jpg"
            alt="Child looking at starfish in aquarium "/>
          <div class="resource-card">
            <h3 class="card-name">
              <a href="/kids">Kid's Educational Resources</a></h3>
          </div>
        </article>

      </div>
    </section>

    <!-- REACH OUT SECTION-->
    <section id="reach-out" class="contact">
      <div class="flex-row">
        <h2 class="section-title secondary-border">Reach Out</h2>
      </div>
      <div class="contact-info">
        <div>
          <p>
            Any questions or concerns before signing up?
            <br />
            Let us know and we'll be happy to talk to you!
          </p>
          <br>
          <address>
            123 Seabreeze Ave. <br />
            Oceanside, CA <br />
            12345<br />
            P: 555.ANG.FISH (555.264.9414)<br />
            E: <a href="mailto:info@angelfish.io">info@angelfish.io</a>
          </address>
        </div>
        
        <div class="contact-form">
          <h3>Contact Us</h3>
          <form>
            <label for="contact-name">Your Name</label>
            <input type="text" id="contact-name" placeholder="Your Name" />

            <label for="email-login">Email:</label>
            <input type="text" id="email-login" placeholder="Enter email" /> 

            <label for="contact-message">Message</label>
            <textarea id="contact-message" placeholder="Message"></textarea>
          
            <button type="submit">Submit</button>
          </form>
        </div>
    </section>