  {{> other-header}}
  
  
    <!-- hero/jumbotron -->
    <section class="hero">
      <div class="video-container">
        <video autoplay loop muted>
          <source src="./images/ocean_background_1.mp4" type="video/mp4" />
        </video>
      </div>
    </section>

    <section>
      <div class="iframe-container">
        <h2>Stories</h2>
      </div>
      <div class="resources">
        <article class="kids-resource">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/i1_37YGzXrc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </article>

        <article class="kids-resource">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/RE2_LH2wo5s?start=26"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </article>

        <article class="kids-resource">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/xFPoIU5iiYQ?start=26"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </article>

        <article class="kids-resource">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/LVLGQiDrI0A?start=26"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </article>
      </div>
    </section>
    <section>
      <div class="iframe-container">
        <h2>PBS Splash and Bubbles Activities and Games</h2>
      </div>
      <div class="resources">
        <article class="kids-resource">
          <a href="https://pbskids.org/splashandbubbles/games" class="splash-bubbles">            
            <img
              src="/images/splash-bubbles.jpg"
              alt="Splash and Bubbles Kids Games"
            />
          </a>
        </article>
      </div>
    </section>
  </body>
</html>
