<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>angelfish - Kid's Educational Resources</title>
  <link rel="stylesheet" href="./stylesheets/style.css" />

</head>
<body>
      <!-- navigation -->
      <header>
        <div class="logo">
          <img src="./images/logo redesign 2.png" alt="angelfish logo text"/>
          <h1>angelfish</h1>
        </div>
        
        <nav>
          <ul>
            <li>
              <a href="#our-mission">Our Mission</a>
            </li>
            <li>
              <a href="#how-to-help"> How to Help</a>
            </li>
            <li>
              <a href="#where-to-look">Where to Look</a>
            </li>
            <li>
              <a href="#log-in"> Log In</a>
            </li>
          </ul>
        </nav>
      </header>
          <!-- hero/jumbotron -->
    <section class="hero">
      <div class="video-container">
        <video autoplay loop muted>
            <source src="./images/ocean_background_1.mp4" type="video/mp4">
        </video>
      </div>
    </section>
    <section>
      <div class="iframe-container">
        <h2>Stories</h2>
      </div>
      <div class="resources">
        <article class="kids-resource">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/i1_37YGzXrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- <div class="resource-card">
            <h3 class="card-name">
              <a href= "https://www.coralrestoration.org/">Coral Reef Conservation and Restoration</a>
            </h3> -->
            <!-- <h4 class=""></h4>
            <p>Coral reef stuff</p> -->
          <!-- </div> -->
        </article>

        <article class="kids-resource">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/RE2_LH2wo5s?start=26" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- <div class="resource-card">
            <h3 class="card-name">
              <a href= "https://www.marinebio.org/conservation/">Marine Life Conservation</a></h3>
          </div> -->
        </article>

        <article class="kids-resource">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xFPoIU5iiYQ?start=26" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          <!-- <div class="resource-card">
            <h3 class="card-name">
              <a href="https://theoceancleanup.com/">Clean Up Efforts</a></h3>
          </div> -->
        </article>
        <article class="kids-resource">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/LVLGQiDrI0A?start=26" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          <!-- <div class="resource-card">
            <h3 class="card-name">
              <a href="kids.html">Kid's Educational Resources</a></h3>
          </div> -->
        </article>

      </div>
    </section>

  
  
</body>
</html>