  {{> other-header}}

<section class="login-hero">
  <form class="login-form">
    <div>
      <label for="email-login">Email:</label>
      <input 
        type="text"
        placeholder="Enter email"
        id="email-login"
      />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input 
        type="password" 
        placeholder="Enter password"
        id="password-login" 
      />
    </div>
    <div>
      <button type="submit">Log In</button>
    </div>

    <br>

    <div>
      <label for="email-signup">Email:</label>
      <input 
        type="text" 
        placeholder="Enter Your Email"
        id="email-signup" 
      />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input 
        type="password" 
        placeholder="Choose a Password"
        id="password-signup" 
      />
    </div>
    <div>
      <button type="submit">Sign up</button>
    </div>
  </form>
</section>


<script src="/javascript/login.js"></script>