:root {
  --primary-color: #04027c;
  --secondary-color: #009cf0;
  --tertiary-color: #ffffff; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

/* HEADER/NAV STYLES */
.logo {
  /* Option 1 - logo-title */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* background-image: url("../images/hero-img.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
  color:  var(--primary-color);
  margin: 0; 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  color: var(--primary-color);
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* FOOTER STYLES */

footer {
  background:var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}

/* ALL SELECTION STYLES */

section {
  padding: 60px;
}

/* HERO STYLES */

.hero {
  /* USE FOR MEDIA QUERY!!!!!
  background-image: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: 100%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

.hero-cta {
  width: 50%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color:var(--tertiary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

/* .hero-form {
  border: 3px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
  width: 40% ;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0%;
} */

/* .hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
} */

/* .form-input:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color:var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
} */

/* .hero-form button:hover {
  background-color: var(--tertiary-color); 
}

.checkbox-wrapper input, .radio-wrapper input {
  opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
} */

/* .checkbox-wrapper label::before, .radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);  
  border: 1px solid var(--secondary-color);  
  position: absolute;
  top: -4px;
  left: -30px;
} */

/* .radio-wrapper label::before {
  border-radius: 50%;
}

.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  left: -29px;
  top: -3px;
  background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
} */

/* .checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
} */

/* .checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
  content: "";
} */

/* SELECTION TITLE STYLES */

.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color:var(--tertiary-color);
}

/* OUR MISSION SECTION STYLES */

.intro p {
  line-height: 1.7;
  color: var(--secondary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

/* HOW TO HELP SECTION STYLES */

.steps {
  background: var(--primary-color)
}

.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.step:last-child {
    border-bottom: none;
}

.step h3 {
  color: var(--secondary-color);
  font-size: 46px;
  flex: 1 30%;
}

.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-img img {
  max-width: 100%;
}

.step-text {
  flex: 12;
}

.step-text p {
  color: var(--tertiary-color);
  font-size: 18px;
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
}

/* WHERE TO LOOK SECTION STYLES */

.resources {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.resource {
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  flex: 1;
}

.resource .resource-card a {
  text-decoration: none;
  color: white;

}

.resource img {
  width: 100%;
}

.resource-card {
  padding: 25px;
  line-height: 1.3;
}

.resource-card h3 {
  font-size: 28px;
}

.resource-card h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.resource-card p {
  font-size: 17px;
}

/* KIDS PAGE*/

.iframe-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.iframe-container h2 {
  font-style: italic;
  font-size: 55px;
  padding-bottom: 30px;
  color:var(--tertiary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.splash-bubbles img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/* REACH OUT STYLES */

.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info >*{
  flex: 1;
  margin:  15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

.contact-form input, .contact-form textarea {
  border:  1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus, .contact-form textarea {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}

/* UTILITIES */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
  text-shadow: 0 0 10px (white, 80%);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }
  
    
  header h1 {
    /* Option 1 - logo-title*/
    width: 100%;
    text-align: center;
      
    /* Option 2 - logo-title */  
    /* display: none; */

    
  }
      
  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }
      
  header nav ul li a {
      font-size: 20px;
  }
      
  footer h2, footer div {
      text-align: center;
      width: 100%;
  }

  .header-cta, .hero-form {
      width: 100%;
  }

  .hero-cta {
      text-align: center;
  }

  .section-title {
      width: 80%;
  }
  
  .resource {
      flex: 0 70%;
  }
  
  .contact-info iframe{
      flex: 1 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
      padding: 30px 15px;
  }

  .step h3 {
      flex: 1 100%;
      text-align: center;
  }

  .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
  }

  .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .step-text {
      flex: 100%;  
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
      width: 100%;
  }
  
  .section-title {
      width: 95%;
  }
  
  .intro p {
      width: 100%;
  }
  
  .resource {
      flex: 0 100%;
  }
  
  .contact-info {
      text-align: center;
  }
  
  .contact-info > * {
      flex: 0 100%;
  }
  
  .contact-form {
      order: 3;
  }
}